html {
  overflow-y: hidden;
}

html,
body {
  height: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  padding-top: 5px;
}

.apply-btn {
  background: #4b286d;
  color: white;
  border-radius: 3px;
  width: 80px;
  display: flex;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
}

.copy-btn {
  background: #4b286d;
  color: white;
  border-radius: 3px;
  width: 80px;
  display: flex;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
}

.chat-item {
  padding: 0 20px;
  padding-top: 20px;
}

.chat-item .heading {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 10px;
}

.chat-item .msg-container {
  padding: 0 10px;
}

.chat-container {
  max-height: 280px;
  overflow-y: auto;
}

.input-field {
  width: 70%;
  resize: none;
}

.input-field:focus-visible {
  outline: none;
}

.username {
  color: rgb(3, 54, 61);
  font-weight: 700;
}

.translation-heading {
  font-weight: 500;
}

.date-time {
  opacity: 0.8;
}
